body{
    background-color: #b8c6db;
    font-family: 'poppins', sans-serif;
}

h1{
    text-align: center;
    font-family: "caveat", cursive;
}

#btn{
    color: #b8c6db;
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
}

#btn:hover{
    color: pink;
}