body{
background:#f2f2f2;
font-family:Arial;
}



.mainBox{
width:420px;
margin:30px auto;
padding:20px;
border:5px solid #bbb;
border-radius:20px;
background:white;
}



h2{
text-align:center;
margin-bottom:20px;
}



#screen{
width:95%;
height:50px;
font-size:20px;
padding:5px;
margin-bottom:15px;
}



.btns{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}



button{
padding:15px;
font-size:16px;
background:#8f8f8f;
color:white;
border:none;
cursor:pointer;
}



.big{
grid-column: span 2;
}



button:hover{
opacity:0.9;
}
